@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:wght@500&display=swap");
@font-face {
  font-family: mainFont;
  src: url(/Trible-Introduction/font/BebasNeuePro-Bold.0f65175b362323f05e8cf38df285e48d.ttf);
}

/* UNIVERSAL STYLE */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #d0d0d0;
  /* border: 1px red solid; */
}

/* BODY STYLE */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-image: linear-gradient(160deg, #945F00, #094A94);
}

/* HEADER STYLE */

/* CONNECTION STATUS */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 114px;
}

header .connect-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

header #dot-symbol {
  width: 8px;
  height: 8px;
  background-color: rgb(175, 175, 175);
  border-radius: 50%;
}

/* NAVBAR LINK STYLE*/

nav ul li {
  list-style: none;
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: none;
  color: #945F00;
  background: linear-gradient(50deg, #E0991B 50%, #3895FF 50%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
}

nav {
  width: 963px;
}

nav ul {
  margin-left: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 18px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown i {
}

nav .connect-wallet {
  margin-left: auto;
  padding: 10px 28px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #DB8C1D;
  border: 1px #5C4627 solid;
  font-weight: 900;
}

/* MAIN PAGE & BANNER STYLE*/

section {
  padding: 0 114px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section .main-section {
  margin-left: 177px;
}

.main-section h1 {
  height: 350px;
  width: 816px;
  font: normal 500 250px "Poppins" ;
  line-height: 420px;
  color: #945F00;
  letter-spacing: -12px;
  background: -webkit-linear-gradient(130deg, #E0991B 30%, #A99F9F 53%, #3895FF 70%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 10px transparent;
}

.main-section h3 {
  height: 45px;
  width: 650px;
  font: normal 500 30px "Poppins";
  line-height: 45px;
  margin-left: 10px;
}

.main-section p {
  margin-left: 10px;
  margin-top: 10px;
  height: 66px;
  width: 650px;
  font: normal 200 20px "Poppins";
  line-height: 33px;
}

.main-section button {
  margin-left: 30%;
  margin-top: 10px;
  padding: 10px 28px;
  border-radius: 20px;
  cursor: pointer ;
  background-color: #DB8C1D;
  border: 1px #5C4627 solid;
  font-weight: 900;
}

.logo img {
  object-fit: cover;
  margin-left: -100px;
}

/* FOOTER STYLE */

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 20px 114px;
}

footer .social-media {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-media img {
  border-radius: 60%;
  object-fit: cover;
}

footer .linked {
  margin-left: 30px;
  font-size: 12px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .linked a {
  text-decoration: none;
}

footer .linked a:hover {
  text-decoration: none;
  color: black;
}

footer .copyright {
  text-align: center;
  margin-left: 350px;
  width: 300px;
  color: #A99F9F;
  font: italic 500 12px "Poppins";
}

footer .copyright p {
}
